@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Calibri", sans-serif;
}

*:focus {
  outline: none !important;
}

body {
  background-color: white !important;
  color: black;
}

.dropdown-active {
  opacity: 1 !important;
  z-index: 1 !important;
}

.dropdown-container {
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 150ms ease-in;
  position: absolute;
  right: 0;
  border-radius: 10%;
  border: 1px solid black;
}

body::-webkit-scrollbar {
  display: none;
}

.tns-item {
  width: fit-content !important;
}

.tns-slider {
  width: fit-content !important;
}

.swiper-wrapper {
  width: fit-content !important;
}

.transition-all {
  transition-property: all !important;
}

.transition-all:hover {
  transform: scale(1.05) !important;
}